<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    {%- feed_meta -%}
    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            background: black;
            color: limegreen;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h1>H4ck3d by 4a6f62</h1>
    </div>
    <div>
        <p>LOL, not really by Secure your servers!</p>
    </div>
    <div>
    {{ content }}
    </div>
</body></html>
